.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.countdown-timer {
  font-size: 2rem;
  font-weight: bold;
}

.countdown-label {
  font-size: 2rem;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .countdown-container {
    padding: 10px;
  }

  .countdown-timer {
    font-size: 1.5rem;
  }

  .countdown-label {
    font-size: 1.75rem;
  }
}