.logo-text-nav{
    color: #E4007C;
}

/* .mlh-badge{
    position: absolute;
    top: 0;
    right: 50px;
    width: 100px;
    z-index: 1000;
} */

.blank-reserve-nav{
    width: 120px;
}

.nav-logo-anchor{ /* Don't apply any anchor styles nor spacing to the logo */
    text-decoration: none;
    margin: 0;
    padding: 0;

}

.nav-logo{
    margin: 0 !important;
    display: inline;
    padding: 0;
}