.logo-text-nav{
    color: #E4007C;
}

/* .mlh-badge{
    position: absolute;
    top: 0;
    right: 50px;
    width: 100px;
    z-index: 1000;
} */

.blank-reserve-nav{
    width: 120px;
}

.nav-logo-anchor{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.nav-logo{
    margin: 0 !important;
    display: inline;
    padding: 0;
}

.mobile-menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 10px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #333;
    border-left: 1px solid #444;
    z-index: 1001; /* Ensure it's above the screen dim */
    transition: right 0.3s ease-in-out;
    padding: 20px;
    color: white;
}

.mobile-menu a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.mobile-menu a:hover {
    color: #E4007C;
}

.mobile-menu.active {
    right: 0;
}

.close-btn {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.desktop-logo-text {
    display: block;
}

.desktop-menu {
    display: flex;
}

.screen-dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;  /* This ensures it doesn't capture clicks when invisible */
}

.screen-dim.visible {
    opacity: 1;
    z-index: 1000;
    pointer-events: auto;  /* Now it can capture clicks */
}

@media screen and (max-width: 768px) {
    .nav-logo-anchor {
        padding: 0 10px;
    }

    .mobile-menu-icon {
        display: block;
    }

    .desktop-menu {
        display: none !important;
    }

    .desktop-logo-text {
        display: none;
    }
}
