.about-container {
    background-color: #1f2937;
    padding: 50px 10%;
    text-align: center;
  }
  
  .about-title {
    font-size: 3rem;
    color: #E4007C;
    margin-bottom: 20px;
  }
  
  .about-subtitle {
    font-size: 2rem;
    color: #ff2ca0;
    margin-bottom: 6px;
    margin-top: 25px
  }
  
  .about-content {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #d9abb4;
  }

@media screen and (max-width: 768px) {
  .about-content {
    text-align: justify;
  }
}

@media screen and (max-width: 280px) {

    .about-title {
        font-size: 2rem;
    }
    
    .about-subtitle {
        font-size: 1.5rem;
    }
    
    .about-content {
        font-size: 1rem;
        text-align: justify;
    }
}