.gradient-container {
    background: linear-gradient(to right, #E4007C, #FF8B74);
    height: calc(100vh);
    min-height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-container{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
    /*center content*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.logo {
    width: 100%;
    max-width: 150px;
    margin-right: 30px;
    display: inline;
}

.logo-text-landing{
    color: white;
    font-size: 5rem;
}

.countdown-text{
    color: white;
    font-size: 4rem;
    text-align: center;
}

.info-text{
    color: white;
    font-size: 1.5rem;
    margin-top: 50px;
    text-align: center;
    max-width: 90%;
    padding-left: 70px;
    margin-right: 50px;
}

.tracks{
    text-align: left;

    align-items: left;
}

.tracklist{
    display: list-item;
}
/* Second element with info-text class */
.info-text:nth-child(2){
    border: #fff solid 5px;
    height: auto;
    padding: 10px;
    padding-bottom: -30px;
}

.register-button-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}	

.register-button{
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s;
}


.register-button:hover{
    background-color: rgb(212, 212, 212);
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s;
}
  
.placeholder-square {
    background-color: white;
    position: absolute;
}

.placeholder-square.one {
    width: 20px;
    height: 20px;
    top: 10%;
    left: 8%;
    transform: rotate(30deg);
}

.placeholder-square.two {
    width: 15px;
    height: 15px;
    top: 25%;
    right: 15%;
    transform: rotate(75deg);
}

.placeholder-square.three {
    width: 18px;
    height: 18px;
    bottom: 18%;
    left: 5%;
    transform: rotate(120deg);
}

.placeholder-square.four {
    width: 22px;
    height: 22px;
    top: 40%;
    right: 5%;
    transform: rotate(10deg);
}

.placeholder-square.five {
    width: 24px;
    height: 24px;
    bottom: 17%;
    right: 7%;
    transform: rotate(60deg);
}

/*Animate squares moving smoothly loop*/

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.placeholder-square.one {
    animation: move 3s ease-in-out infinite;
}

.placeholder-square.two {
    animation: move 3s ease-in-out 0.5s infinite;
}

.placeholder-square.three {
    animation: move 3s ease-in-out 1s infinite;
}

.placeholder-square.four {
    animation: move 3s ease-in-out 1.5s infinite;
}

.placeholder-square.five {
    animation: move 3s ease-in-out 2s infinite;
}

/* Responsive styles for mobile */
@media screen and (max-width: 768px) {
    .logo-container {
        flex-direction: column; /* Stack logo and text vertically */
        margin-bottom: 20px;
    }

    .logo {
        margin-right: 0; /* Remove margin to the right of the logo */
        margin-bottom: 10px; /* Add some space below the logo */
    }

    .logo-text-landing {
        font-size: 3rem; /* Reduce font size for mobile */
    }

    .countdown-text{
        font-size: 1.5em;
    }

    .info-text{
        margin-top: 20px;
        font-size: 1em;
    }
    
    .register-button-container{
        margin-top: 20px;
    }

    .placeholder-square.three{
        bottom: 5%;
        left: 5%;
    }

    .placeholder-square.four {
        top: 5%;
        right: 5%;
    }

    .placeholder-square.five {
        bottom: 10%;
        right: 10%;
    }
}

/* Galaxy Fold */

/* Responsive styles for mobile */
@media screen and (max-width: 280px) {
    .logo-container {
        flex-direction: column; /* Stack logo and text vertically */
        margin-bottom: 20px;
    }

    .logo {
        margin-right: 0; /* Remove margin to the right of the logo */
        margin-bottom: 10px; /* Add some space below the logo */
        width: 50%;

    }

    .logo-text-landing {
        font-size: 2rem; /* Reduce font size for mobile */
    }

    .countdown-text{
        font-size: 1.2em;
    }

    .info-text{
        margin-top: 20px;
        font-size: 1em;
    }
    
    .register-button-container{
        margin-top: 20px;
    }

    .placeholder-square.three{
        bottom: 5%;
        left: 5%;
    }

    .placeholder-square.four {
        top: 5%;
        right: 5%;
    }

    .placeholder-square.five {
        bottom: 3%;
        right: 10%;
    }
}