/* spacer style */
.partners-container {
  margin: 0;
  padding: 50px 10%;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #e4007c;
}

.partners-title {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.partners-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.partner-logo-container {
  width: 25%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partner-logo {
  width: 100%;
}

.partner-link {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #e4007c;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 10pt;
  text-align: center;

  &:hover {
    background-color: #fff;
    color: #e4007c;
  }
}

@media screen and (max-width: 768px) {
  .partners-logos {
    flex-direction: column;
  }

  .partner-logo-container {
    width: 80%;
  }
}